name: Terraform directory
on:
  workflow_call:
    outputs:
      terraform-dir:
        description: The terraform directory to initialise
        value: ${{ jobs.terraform-directory.outputs.terraform-matrix }}

# Declare default permissions as read only.
permissions:
  contents: read

# TODO: Define single list of files to use in both steps
# See: https://github.com/3ware/workflows/issues/101
jobs:
  terraform-directory:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    outputs:
      terraform-matrix: ${{ steps.get-terraform-matrix.outputs.all_changed_files }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac # v4.0.0
        with:
          persist-credentials: true # changed-files unable to authenticate if false

      # Find the directory where terraform files have been changed.
      # Output a JSON object which can be used for matrix strategies
      - name: Get terraform directory matrix
        id: get-terraform-matrix
        uses: tj-actions/changed-files@4918e1183080b35a085c91c8abc9e6adc4de61a1 # v42.1.0
        continue-on-error: true # Allows workflow to proceed if no files found
        with:
          files: |
            **/*.tf
            **/*.tfvars
            **/*.tftpl
            **/*.hcl
          dir_names: true
          matrix: true

      # Find the directory where terraform files have been changed.
      # Output text for use with the job summary steps
      - name: Get terraform directory Summary
        id: get-terraform-sum
        uses: tj-actions/changed-files@4918e1183080b35a085c91c8abc9e6adc4de61a1 # v42.1.0
        continue-on-error: true # Allows workflow to proceed if no files found
        with:
          files: |
            **/*.tf
            **/*.tfvars
            **/*.tftpl
            **/*.hcl
          dir_names: true

      - name: Terraform directory summary - changes
        if: ${{ steps.get-terraform-sum.outputs.all_changed_files_count != 0 }}
        run: |
          echo "# :white_check_mark: Terraform file changes detected" >> $GITHUB_STEP_SUMMARY
          echo "" >> $GITHUB_STEP_SUMMARY
          echo "## Terraform changes have been detected in the following directories:" >> $GITHUB_STEP_SUMMARY
          echo "" >> $GITHUB_STEP_SUMMARY
          printf '%s\n' ${{ steps.get-terraform-sum.outputs.all_changed_files }} >> $GITHUB_STEP_SUMMARY

      - name: Terraform directory summary - no changes
        if: ${{ steps.get-terraform-sum.outputs.all_changed_files_count == 0 }}
        run: |
          echo "# :negative_squared_cross_mark: Terraform file changes not detected" >> $GITHUB_STEP_SUMMARY
          echo "" >> $GITHUB_STEP_SUMMARY
          echo "Terraform files have not been changed on this run" >> $GITHUB_STEP_SUMMARY
